# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/example/bin/exampleDebug.app
/example/example.xcodeproj
/example/.vscode
/example/obj
example/example.code-workspace
example/.DS_Store
.DS_Store
example/.DS_Store
example/.DS_Store
example/.DS_Store
